@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Satoshi', sans-serif;
    font-optical-sizing: auto;
    background: #0e0d0d;
    color: #ffff;
    scroll-behavior: smooth;
}
