@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Satoshi', sans-serif;
    font-optical-sizing: auto;
    background: #0e0d0d;
    overflow-x: hidden;
    color: #ffff;
    scroll-behavior: smooth;
}

.will-change-transform {
    will-change: transform, opacity;
}

.text-responsive {
    font-size: clamp(1rem, 0.8852rem + 0.3898vw, 1.375rem);
  }
